enrondataset/
PracticalDeepLearningforCodersUsingFastai/bird_or_not/
PracticalDeepLearningforCodersUsingFastai/bird.jpg
PracticalDeepLearningforCodersUsingFastai/forest.jpg
PracticalDeepLearningforCodersUsingFastai/bear_classifier.pkl
PracticalDeepLearningforCodersUsingFastai/bears/
PracticalDeepLearningforCodersUsingFastai/images/
**/__pycache__/